.main_table {
    width: 60%;
    height: 50%;
    display: inline-block;
    float: left;
}

.horse_starting_price {
    width: 70%;
    float: left;
    height: 20%;
}

.result_edit {
    width: 20%;
    float: left;
    margin-left: 10%;
}

.race_select {
    width: 21.7%;
    float: left;
    margin-left: 16.5vw;
}

.user_bets {
    width: 110%;
}

.bets_results {
    width: 100%;
}

.result {
    width: 48%;
    float: left;
}

.horse_starting_sub_component {
    width: 45%;
    margin-left: 5%;
    float: left;
}

.horse_starting_main {
    width: 65%;
    margin-left: 5%;
    height: 0vw;
}

.result_sub_component {
    width: 48%;
    margin-left: 2%;
    float: left;
}

.sub_table_bet {
    width: 100%;
}

.bet_history {
    width: 90%;
    margin: 0 auto;
}

.bet_editor {
    width: 20%;
    float: left;
    margin-left: 10%;
}

.bet_block {
    width: 70%;
    height: 50%;
    float: left;
}


.race_select_bet {
    width: 100%;
    margin-bottom: 0.4vw;
}

.margin_table {
    width: 75%;
    margin-top: -13vw;
    display: inline-block;
    float: left;
}

.horse_starting_price_editors {
    width: 23%;
    margin-left: 7%;
    float: left;
}

.editors {
    width: 100%;
    margin-top: 15vw;
    margin-left: 30vw;
}

.edit {
    width: 25%;
    float: left;
    margin-left: 12%;
}

.horse_create_btn {
    width: 30%;
    margin-left: 0px;
}

.horse_edit_btn {
    width: 40%;
    margin-left: 40px;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 20px;
}

.horse_table :before {
    display: block;
    content: "";
    clear: both;
}

.slider_style {
    margin-left: 40vw;
    margin-top: 20vw;
}

.header_btn:last-child {
    margin: 0;
}



