<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="POOL_CONNECTION" class="org.apache.log4j.FileAppender">

        <param name="file" value="${CATALINA_BASE}/conf/poolConnectionLog.properties"/>
        <param name="immediateFlush" value="true"/>
        <param name="threshold" value="debug"/>
        <param name="append" value="false"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <appender name="DAO_LOGGER" class="org.apache.log4j.FileAppender">

        <param name="file" value="${CATALINA_BASE}/conf/daoLog.properties"/>
        <param name="immediateFlush" value="true"/>
        <param name="threshold" value="debug"/>
        <param name="append" value="false"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <logger name="DAOLayerLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="DAO_LOGGER"/>
    </logger>

</log4j:configuration>